@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root{
    --background:#000430;
    --secondaryBackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter',sans-serif;
    color: var(--text);
    background-color: var(--background);
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto auto auto;
    height: 100vh;
    max-width: 600px;
    padding: 10px;
}
.status-header{
    width: 100%;
    padding: 20px;
    border: 2px solid var(--purple);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
    
}
.header{
    width: 70%;
}
.score{
    height: 100px;
    width: 100px;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.status-bar{
    width: 100%;
    background-color: var(--secondaryBackground);
    height: 10px;
    /* border: 1px solid transparent; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 20px;
}
.bar{
    width: 0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* form */

form {
    width: 100%;
    display: flex;
    gap:10px;
} 
form input[type="text"]{
    flex: 1;
    padding: 15px;
    border: 1px solid var(--purple);
    background-color: var(--secondaryBackground);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    outline: none;
    color: var(--text);
}
form button{
    width: 50px;
    height: 50px;
    padding: 15px;
    background-color: var(--purple);
    border: 1px solid transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
}

/* task list */
#task-list{
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:10px
}
.taskItem, .task{
    display: flex;
}
.task{
    width: 80%;
    /* align-items: center;
    gap:10px; */
    
}
.task input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.task p{
    width: calc(100% - 30px);
    word-break: break-all;
}
.taskItem {
    width: 100%;
    background-color: var(--secondaryBackground);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}
.taskItem img{
    width: 24px;
    height: 24px;
    margin: 0 5px;
    cursor: pointer;
}
.completed p{
    text-decoration: line-through;
    color: var(--teal);
}

/* tabs */
.tabs{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.tabs button{
    background-color: var(--purple);
    padding: 10px;
    border: none;
    color: var(--text);
    margin:0 -3px;
    cursor: pointer;
}
.tabs .active{
    background-color: var(--secondaryBackground);
    outline: none;
}
#all{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#not-completed{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.hidden {
    display: none;
}

/* media */
@media (max-width : 640px) {
    .taskItem img{
        width: 15px;
        height: 15px;
        margin: 0 2px;
    }
    .task input{
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .task p{
        width: calc(100% - 25px);
    }
    .status-header{
        padding: 10px;
        gap: 10px;
    }
    .container{
        margin-top: 10px;
    }
}
@media (max-width : 640px){
    .tabs{
        margin-top: 30px;
    }
    .tabs button{
        font-size: 12px;
        padding: 7px;
    }
}